body {
}

.container {
	border: solid 5px;
	border-radius: 5px;
	border-color: orange;
}

.nav-tabs {

}

.email-bar {
	border: solid 1px;
	border-color: blue;
	height: 45px;
}
	.email-bar li {
		float: left;
		width: 30%;
		overflow: hidden;
	}