body {
	background-color: linen;
}

.container {
	z-index: 0;
	border: solid 5px;
	border-radius: 5px;
	border-color: orange;
}

.nav-tabs {

}

.email-bar {
	border: solid 1px;
	border-color: blue;
	height: 45px;
}
	.email-bar li {
		float: left;
		width: 30%;
		overflow: hidden;
	}

#email-view {
	width: 400px;
	height: 400px;
	border: solid 1px;
	z-index: 1;
	position: absolute;
	bottom: 0%;
	right: 0%;
}