{% load staticfiles %}

<html>
  <head>
    <title>Turn Up</title>
    {% if id %}
      <script type="text/javascript" src="{% static "scripts/fb-logged-in.js" %}"></script>
    {% else %}
      <script type="text/javascript" src="{% static "scripts/fb-login.js" %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static "scripts/jquery.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/first.css" %}">
  </head>
  <body>
    {% block body_content %}{% endblock %}
  </body>
</html>